.dashboard{
  background-color: #546A7B;
  height: 100%;

}
.test{
  display: flex;
  justify-content: flex-start;
  margin-left: 150px;
  margin-top: 50px;
}
.post_type{
  display: flex;
  justify-content: space-around;
  width: 545px;
  height: 50px;
  border-radius: 10px;
 background: #FDFDFF;
 padding: 20px;
}

.postImage{
  height: 40px;
}
.postImage:hover{
  background-color: ;
  animation: bounce 1s
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.avatar{
background-color: #DCE0D9;
height: 70;
border-radius: 10px;
margin-right: 20px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content{
  background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    height: 30%
}
