.dashboard{
  background-color: #546A7B;
  height: 100%;

}
.test{
  display: flex;
  justify-content: flex-start;
  margin-left: 320px;
  margin-top: 50px;
}
.post_type{
  width: 545px;
  height: 50px;
  border-radius: 10px;
 background: #FDFDFF;
 padding: 20px;
 /* margin-left: 320px; */
}

.avatar{
background-color: #DCE0D9;
height: 70;
border-radius: 10px;
margin-right: 20px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content{
  background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
