.loginDiv{
  display: grid;
  grid-template-columns: 12px ;
  grid-template-rows: 12px 12px 12px;
  justify-content: flex-start;
  margin-left: 375px;
  margin-top: 50px;
  align-content:center;
}


.loginInput input {
  height: 50px;
  width:310px;
  text-indent:20px;
}

button{
  margin-top: 5px;
  height:50px;
  width:320px;
}

/* display: grid;
grid-template-columns: 12px ;
grid-template-rows: 12px 12px 12px;
justify-content: center; */
