.loginDiv{
  display: flex;
  justify-content: space-around;
  flex-flow: column;

}

.loginInput input {
  height: 50px;
  width:310px;
  text-indent:20px;
}

button{
  margin-top: 5px;
  height:50px;
  width:320px;
}
